
body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    text-align: center;
    margin-top: 50px;
}

.game-container {
    background-color: #fff;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#word-display {
    font-size: 36px;
    letter-spacing: 10px;
    margin-bottom: 20px;
}

input {
    font-size: 20px;
    padding: 5px;
    width: 50px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

#attempts-left {
    margin-top: 20px;
    font-size: 18px;
}

#message {
    font-size: 18px;
    font-weight: bold;
    color: #FF6347;
}

#reset-btn {
    margin-top: 20px;
    background-color: #f44336;
}

@media (max-width: 1024px) {
    .game-container {
        width: 70%;
    }

    #word-display {
        font-size: 32px;
        letter-spacing: 8px;
    }

    input {
        font-size: 18px;
        width: 45px;
    }
}


@media (max-width: 768px) {
    body {
        margin-top: 20px;
    }

    .game-container {
        width: 90%;
        padding: 15px;
    }

    h1 {
        font-size: 1.5rem;
    }

    #word-display {
        font-size: 28px;
        letter-spacing: 6px;
    }

    input {
        font-size: 18px;
        width: 40px;
    }

    button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }

    #attempts-left,
    #message {
        font-size: 16px;
    }
}

/* Celulares muy pequeños */
@media (max-width: 480px) {
    h1 {
        font-size: 1.2rem;
    }

    #word-display {
        font-size: 22px;
        letter-spacing: 4px;
    }

    input {
        width: 35px;
        font-size: 16px;
    }

    button {
        width: 100%;
    }
}